<!DOCTYPE html>
<html lang="en"  xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all_cinema</title>


    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"-->
    <!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



</html>

<table class="table" style="width: 900px; height: 500px; margin-top: 10px; margin-left: 250px;">
    <thead class="thead-dark">
    <tr>
        <th scope="col" style="color: aliceblue"><b>ID</b></th>
        <th scope="col" style="color: aliceblue"><b>NAME</b></th>
        <th scope="col" style="color: aliceblue"><b>ADDRESS</b></th>
        <th scope="col" style="color: aliceblue"><b>ROOMS</b></th>
        <th>
            <a class="btn btn-primary" th:href="@{/cinema/save}" role="button" >AddCinema</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr >

        <td th:text="${cinema.id}" style="color: aliceblue"></td>
        <td th:text="${cinema.name}" style="color: aliceblue"></td>
        <td th:text="${cinema.address}" style="color: aliceblue"></td>
        <!--        <td th:text="${cinema.rooms}"></td>-->
        <td>
            <form>
                <a class="btn btn-success" th:href="@{/room/findAllId/{id}(id=${cinema.id})}" role="button" ><strong>ROOMS</strong></a>
            </form>
        </td>
        <td>
            <form>
                <a class="btn btn-success" th:href="@{/cinema/update/{id}(id=${cinema.id})}" role="button" ><strong>UPDATE</strong></a>
            </form>
        </td>
        <td>
            <form>
                <a class="btn btn-success" th:href="@{/session/find_all}" role="button" ><strong>ENTER</strong></a>
            </form>
        </td>
        <td>
            <a class="btn btn-danger" th:href="@{/cinema/delete_cinema/{id}(id=${cinema.id})}" role="button" ><strong>DEL</strong></a>
        </td>
    </tr>

    </tbody>

</table>

</div>
</body>
<html>
